@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* global.css */

/* Apply styles to all input fields */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select {
  @apply px-4 py-2 m-2 leading-tight text-gray-700 border-2 rounded appearance-none focus:outline-none focus:bg-white;
}
